.titre1{
    text-align: center;
    background: #e4cfc1;
    border-radius: 15px;
    padding: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}